/*
 * -------------------------------------------------------------------------------------------------------------------
 * Auteur Initial :
 * Retouche personnel : 
 * -------------------------------------------------------------------------------------------------------------------
 * Date dernière modification :
 * -------------------------------------------------------------------------------------------------------------------
 */
@charset "UTF-8"; /* Valide, la feuille de style est encodée en Unicode UTF-8 */
* {
    box-sizing: border-box;
}

#container {
    margin: 0 auto; /* Afin d'éviter d'avoir quelques lignes de plus avec flexbox je me contente de cette simple ligne */
    width: 600px; 
    height: 600px; 
    margin-top: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu ul li:last-child a img {
    margin-top: 20px;
}